.btn {
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  color: #0A2342;
  font-size: 16px;
  background-color: #FFFDF7;
  transition: all 0.4s ease-in-out;
  box-shadow: 2px 2px 4px 0 #0A234288;
}

.btn-submit {
  border: 2px solid #2CA58D;
}

.btn-submit:hover,
.btn-submit:focus {
  background-color: #2CA58D;
  color: #FFFDF7;
  outline: none;
}

.btn-submit:active {
  transform: translateY(2px);
}

.btn-reset {
  border: 2px solid #F46197;
}

.btn-reset:hover,
.btn-reset:focus {
  background-color: #F46197;
  color: #FFFDF7;
  outline: none;
}

.btn-reset:active {
  transform: translateY(2px);
}