.form {
  margin: 10px auto;
  padding: 8px 16px;
  width: 50%;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border: 2px solid #e5d5d5;
  border-radius: 2px;
  background-color: #ededed77;
}

.form__title {
  color: #373737;
}

.form__fields {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form__controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.controls__btn {
  flex: 1;
}

.btn {
  padding: 6px 12px;
}