.form {
  margin: 10px auto;
  padding: 16px;
  width: fit-content;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border: 4px solid #84BC9C;
  border-radius: 8px;
  background-color: #FFFDF7;
}

.form__title {
  color: #0A2342;
}

.form__fields {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.field-textarea {
  grid-column: span 2;
}

.form__controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.controls__btn {
  flex: 1;
}

.btn {
  padding: 6px 12px;
}

@media screen and (max-width: 768px) {
  .form__fields {
    display: grid;
    grid-template-columns: 1fr;
  }

  .field-textarea {
    grid-column: span 1;
  }
}