* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page__body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(80,226,145);
  background: linear-gradient(126deg, rgba(80,226,145,1) 0%, rgba(82,223,201,1) 16%, rgba(132,182,175,1) 39%, rgba(246,130,149,1) 70%, rgba(251,117,58,1) 100%);
  min-height: 100vh;
}
